{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{% block title %} Guess the Temperature {% endblock %}</h1>
    <div class="container my-5">
      <div class="card p-5">
        <p class="text-center font-weight-bold">Can you guess the temperature on this date: {{ randomDate[1] }}</p>
        <a class="btn btn-link float-right" href="/">Change Date</a>
      </div>

      <form method="post" action="/result" class="my-5">
        <div class="form-group">
            <label for="guess-temperature">Enter your guessed temperature</label>
            <input type="number" 
                   name="guess-temperature"
                   placeholder="Enter temperature" 
                   class="form-control"
                   value="{{ request.form['guess-temperature'] }}" 
                   step="any" required></input>
            <input type="text" 
                   hidden="true" 
                   name="date"
                   value="{{ randomDate[0] }}"></input>
        </div>
    
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
{% endblock %}
